html,
body,
#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    padding: 0 !important;
}

.module {
    @apply bg-company rounded-lg flex flex-col p-4  shadow-md;

    .title {
        @apply text-2xl font-bold;
    }
}

.input-class {
    @apply rounded-lg bg-white py-2 px-1 text-black shadow-lg;
}

.btn-class {
    @apply rounded-xl !bg-white !text-company border-2 border-company hover:!border-white;

    &:disabled {
        @apply !bg-gray-200 !text-white;
    }
}

/* animation CSS */

.step {
    animation: fadeinout 1s ease-in-out forwards;
}

@keyframes fadeinout {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}
